$brand-color:    #546E7A;
$white:          #fff;


.splash {
  background: url("Background.png") bottom center no-repeat;
  background-size: cover;
  color: $white;
  margin-bottom: 0 !important;
  overflow: hidden;
  padding-top: 10em !important;
  padding-bottom: 12em !important;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0,0,0,.4);
  z-index: 9999;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $brand-color;
    opacity: 0.5;
    z-index: -1;
  }
}
